.bubble{
    width: 100px;
    height: 100px;
    
    border-radius: 50%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
}

.light{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 30px;
    height: 30px;
    background: rgba(243, 239, 239, 0.7);
    border-radius: 50%;
    filter: blur(8px);
}

/* .bubble:hover{
    transform: scale(1.1);
}
.bubble:active{
    transform: scale(0.9);
} */

.score{
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 20px;
}