footer{
    text-align: center;
    padding: 20px 0;
    background-color: #f1f1f1;
    margin-top: 30px;
}
.social-links{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    padding: 10px 0;
}

.social-links a{
    text-decoration: none;
    font-size: 20px;
    color: inherit;
}

