header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--primary-color);
    transition: transform 0.5s ease, background 0.5s ease;
    z-index: 9999;
    
}


header.scrolled {
    transform: translateY(-100%);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0;
}

nav ul{
    list-style-type: none;
    /* margin-left: 12.5%; */
    padding: 0;
    display: flex;
    gap: 30px;
}

nav ul li a{
    font-size: 125%;
    text-decoration: none;
    font-weight: bold;
}

.account-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    cursor: pointer;
}

.account-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    color: white;
    font-size: 20px;
}



